body{
	background-image:url("sample.png");
}
/*-------------------------sidebar�̎w��*/
#sidebar {
  width: 180px;
  float: left;
  margin: 10px 0px 500px 0px;
  padding: 10px 0px 10px 0px;
  border-style: solid;
  border-width: 1px;
	background-image:url("sample.png");
}

#main form{
	margin: 10px 0px 10px 0px;
  	padding: 50px;
  	border-style: solid;
  	border-width: 1px;
}

body{
	position: static;
<<<<<<< HEAD
=======
	background-image:url(sample3.gif);   
>>>>>>> 作業用ブランチ
}

#top{
	border-style: solid;
	border-width: 1px;
	background-color: #b0e0e6;
	padding: 30px 0px 30px 0px;

}