
/*-------------------------sidebar‚ÌŽw’è*/
#sidebar {
  width: 180px;
  float: left;
  margin: 10px 0px 500px 0px;
  padding: 10px 0px 10px 0px;
  border-style: solid;
  border-width: 1px;
}

#main form{
	margin: 10px 0px 10px 0px;
  	padding: 50px;
  	border-style: solid;
  	border-width: 1px;
}

body{
	position: static;
	background-image:url("sample3.gif");
}

#top{
	border-style: solid;
	border-width: 1px;
	background-color: #b0e0e6;
	padding: 30px 0px 30px 0px;

}